{% extends 'base.html' %}

{% load filters %}

{% block title %}
Spectrograms
{% endblock %}

{% block content %}
<div class="row mt-2">
    <div class="col-4">
        <h3>Spectrograms count: {{ total_count }}</h3>
    </div>
    <div class="col-4 d-flex justify-content-center">{% include "paginator.html" %}</div>
    <div class="col-4"></div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <form action="{% url 'sdr_spectrograms' %}" method="get">
                    {% include "field_filter.html" with field="device_id" options=device_id_list %}
                    {% include "field_filter_min_max.html" with field="date" %}
                    {% include "field_filter_min_max.html" with field="samples" %}
                    {% include "field_filter_min_max.html" with field="frequency" options=frequency_list %}
                    {% include "field_filter_min_max.html" with field="sample_rate" options=sample_rate_list %}
                    {% include "field_filter_min_max.html" with field="step_frequency" options=step_frequency_list %}
                    <th colspan="3">
                        <input type="hidden" id="input_order_by" value="{{ order_by }}" name="order_by">
                        <input type="submit" class="btn btn-success" value="Filter">
                        <a href="?reset" class="btn btn-danger">Reset</a>
                    </th>
                </form>
            </tr>
            <tr>
                {% include "field_header.html" with field="Device" field_key="device_name" col="1" %}
                {% include "field_header.html" with field="Date" field_key="datetime" col="1" %}
                {% include "field_header.html" with field="Samples count" field_key="samples" col="1" %}
                {% include "field_header.html" with field="Frequency" field_key="frequency" col="1" %}
                {% include "field_header.html" with field="Sample rate" field_key="sample_rate" col="1" %}
                {% include "field_header.html" with field="Step frequency" field_key="step_frequency" col="1" %}
                <th class="col-md-1">
                    Static graph (fast)
                </th>
                {% if full_mode_enabled %}
                <th class="col-md-1">
                    Active graph (slow)
                </th>
                {% endif %}
            </tr>
            {% for spectrogram in objects %}
            <tr>
                <td class="py-1">{{ spectrogram.device_name }}</td>
                <td class="py-1">{{ spectrogram.date }}</td>
                <td class="py-1">{{ spectrogram.samples | big_number }}</td>
                <td class="py-1">{{ spectrogram.frequency|frequency }}</td>
                <td class="py-1">{{ spectrogram.sample_rate|frequency }}</td>
                <td class="py-1">{{ spectrogram.step_frequency|frequency }} </td>
                <td class="py-1">
                    <a href="{% url 'sdr_spectrogram' spectrogram.id %}?mode=static" class="btn btn-primary">static </a>
                </td>
                {% if full_mode_enabled %}
                <td class="py-1">
                    <a href="{% url 'sdr_spectrogram' spectrogram.id %}?mode=dynamic" class="btn btn-primary">active
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="row mt-2">
    <div class="col-4"></div>
    <div class="col-4 d-flex justify-content-center">{% include "paginator.html" %}</div>
    <div class="col-4"></div>
</div>
{% endblock %}